{% extends 'base.html' %}
{% load static %}

{% block link %}
  <link rel="stylesheet" href="{% static 'vendors/iconfonts/mdi/css/materialdesignicons.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" />
{% endblock  %}

{% block content %}
    {% include 'nav.html' %}

    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_sidebar.html -->
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-md-4 stretch-card grid-margin">
              <div class="card bg-gradient-info card-img-holder text-white" style='height:150px;'>
                <div class="card-body">
                  <img src="{% static 'images/dashboard/circle.svg' %}" class="card-img-absolute" alt="circle-image"/>
                  <h4 class="font-weight-normal mb-3">API 
                    <i class="mdi mdi-chart-line mdi-24px float-right"></i>
                    <br> All
                  </h4>
                  <h2 class="mb-5">5000</h2>
                </div>
              </div>
            </div>
            <div class="col-md-4 stretch-card grid-margin">
              <div class="card bg-gradient-success card-img-holder text-white" style='height:150px;'>
                <div class="card-body">
                  <img src="{% static 'images/dashboard/circle.svg' %}" class="card-img-absolute" alt="circle-image"/>                  
                  <h4 class="font-weight-normal mb-3">API 
                    <i class="mdi mdi-emoticon mdi-24px float-right"></i>
                    <br> Good Status
                  </h4>
                  <h2 class="mb-5">4000</h2>
                </div>
              </div>
            </div>
            <div class="col-md-4 stretch-card grid-margin">
              <div class="card bg-gradient-danger card-img-holder text-white" style='height:150px;'>
                <div class="card-body">
                  <img src="{% static 'images/dashboard/circle.svg' %}" class="card-img-absolute" alt="circle-image"/>                                    
                  <h4 class="font-weight-normal mb-3">API
                    <i class="mdi mdi-emoticon-sad mdi-24px float-right"></i>
                    <br> Bad Status
                  </h4>
                  <h2 class="mb-5">1000</h2>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 grid-margin">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Recent Status</h4>
                  <div class="row" style="margin-top:20px; margin-bottom:30px;">
                    <div class="search-field d-none d-md-block col-9">
                      <form class="d-flex align-items-center h-100" action="" method="GET">
                        <div class="input-group">
                          <div class="input-group-prepend bg-transparent">
                            <i class="input-group-text border-0 mdi mdi-magnify"></i>                
                          </div>
                          <input type="text" class="form-control bg-transparent" style="border:1px solid #F2F2F2" placeholder="Search">
                        </div>
                      </form>
                    </div>
                    <div class="select-bar col-3">
                      <form action="" method="GET">
                        <select class="form-control bg-transparent" style="height:45px" name="순서">
                          <option value="">Select</option>
                          <option value="이름순">이름순</option>
                          <option value="최신순">최신순</option>
                          <option value="다운로드순">다운로드순</option>
                        </select>
                      </form>
                    </div>
                  </div>
                  <div class="table-responsive">
                    <table class="table" style="text-align:center">
                      <thead>
                        <tr>
                          <th>
                            API Name
                          </th>
                          <th>
                            Condition
                          </th>
                          <th>
                            Last Update
                          </th>
                          <th>
                            Download Status
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            Fund is not recieved
                          </td>
                          <td>
                            <label class="badge badge-gradient-success">GOOD</label>
                          </td>
                          <td>
                            Dec 5, 2017
                          </td>
                          <td>
                            <i class="mdi mdi-arrow-down-bold-circle-outline"></i>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            High loading time
                          </td>
                          <td>
                            <label class="badge badge-gradient-danger">BAD</label>
                          </td>
                          <td>
                            Dec 12, 2017
                          </td>
                          <td>
                            <i class="mdi mdi-close-circle-outline"></i>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            Website down for one week
                          </td>
                          <td>
                            <label class="badge badge-gradient-success">GOOD</label>
                          </td>
                          <td>
                            Dec 16, 2017
                          </td>
                          <td>
                            <i class="mdi mdi-arrow-down-bold-circle-outline"></i>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            Loosing control on server
                          </td>
                          <td>
                            <label class="badge badge-gradient-success">GOOD</label>
                          </td>
                          <td>
                            Dec 3, 2017
                          </td>
                          <td>
                            <i class="mdi mdi-arrow-down-bold-circle-outline"></i>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          <div class="row">
            <div class="col-md-7 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <div class="clearfix">
                    <h4 class="card-title float-left">Traffic Chart</h4>
                    <div id="areaChart-legend" class="rounded-legend legend-horizontal legend-top-right float-right"></div>                                     
                  </div>
                  <canvas id="areaChart" class="mt-4"></canvas>
                </div>
              </div>
            </div>
            <div class="col-md-5 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Ranking</h4>
                                      <table class="table">
                      <thead>
                        <tr>
                          <th>
                            No.
                          </th>
                          <th>
                            Name
                          </th>
                          <th>
                            Progress
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            1
                          </td>
                          <td>
                            Herman Beck
                          </td>
                          <td>
                            <div class="progress">
                              <div class="progress-bar bg-gradient-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            2
                          </td>
                          <td>
                            Messsy Adam
                          </td>
                          <td>
                            <div class="progress">
                              <div class="progress-bar bg-gradient-danger" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            3
                          </td>
                          <td>
                            John Richards
                          </td>
                          <td>
                            <div class="progress">
                              <div class="progress-bar bg-gradient-warning" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            4
                          </td>
                          <td>
                            Peter Meggik
                          </td>
                          <td>
                            <div class="progress">
                              <div class="progress-bar bg-gradient-primary" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            5
                          </td>
                          <td>
                            Edward
                          </td>
                          <td>
                            <div class="progress">
                              <div class="progress-bar bg-gradient-danger" role="progressbar" style="width: 35%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            5
                          </td>
                          <td>
                            Ronald
                          </td>
                          <td>
                            <div class="progress">
                              <div class="progress-bar bg-gradient-info" role="progressbar" style="width: 65%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>                                                   
                </div>
              </div>
            </div>
          </div>
          <div class="row">
          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        {% include 'footer.html' %}
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
{% endblock %}

{% block script %}
  <!-- plugins:js -->
  <script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>
  <script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>
  <script src="{% static 'vendors/js/vendor.bundle.addons.js' %}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="{% static 'js/off-canvas.js' %}"></script>
  <script src="{% static 'js/misc.js' %}"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="{% static 'js/chart.js' %}"></script>
  <script src="{% static 'js/dashboard.js' %}"></script>
{% endblock  %}