{% load static %}

<!-- The Modal -->
<div class="modal fade" id="modal-detail">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">api 명을 정확히 입력해주세요</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="modal-body-div"></div>
                <div id="chartdiv"></div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <a id="download" href="" download><button id="download" type="button" class="btn btn-primary">다운로드</button></a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>          