{% extends 'base.html' %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-6">
            <form action="{% url 'todos:create' %}" method="POST">
                {% csrf_token %}
                {{ form }}
                <button>저장</button>
            </form>
            </div>
            <div class="col-6">
            {% for todo in user.todo_set.all %}
                <div class="row">
                <div class="col-sm">
                <h5>{{ todo.content }}</h5>
                <h5>{{ todo.due_date }}</h5>
                </div>
                <div class="col-sm d-flex justify-content-end">
                    <div class="d-flex align-items-center">
                        <form action="{% url 'todos:delete' todo.pk %}" method="POST">
                            {% csrf_token %}
                            <button>삭제</button>
                        </form>
                    </div>
                </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}